/* Это для иконки nav меню ОБГОВОРИ С ПОЛЕЙ ! */

/* .navbar-light .navbar-toggler{
    color: aliceblue !important;
    border-color: aliceblue !important;
}
.navbar-toggler-icon{
    color: aliceblue !important;
} */