.central{
    margin: 50px 2em 40px 2em;

    /* background: gray; */
}
/* квадрат */
.to-resize{
    
}
.as{
    color: #182552;    
    font-size:1.75vw !important;
}
.as:hover{
    color: #ffffff;
}
.rectangle{
    position: relative;
    width: auto;
    padding: 10px !important;
    /* height: 60px; */
    margin: 20px 0;
    border-radius: .1rem !important;
    list-style-type: none !important; 
    /* vert-align: center; */


    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
.rectangle:hover{ 
    background: #FCC719;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    }
/* Третий блок */
.named{
    text-align: center;
    font-size:3vw !important;
    margin-top: 25px;
    margin-bottom: 30px;
}
.amg{
    position: relative;
    height: auto;
    background: url(name.png) no-repeat;
    background-size: cover;
}
.oned{
    margin: 0 1em;
    width: auto;
}
.child{
    font-weight: bold;
    display: inline-block;
    margin-bottom: 1rem;
    font-size:1.2vw !important;
}
.resize-img{
    width: 10%;
}
.text-original{
    font-size:1.5vw !important;
}
.text-big{
    font-weight: bold;
    font-size:1.2vw !important;
}
.num-content{
    margin: 0 25%;
}
.img-bok{
    padding: 2px;
    width: 30%;
}
.imga-1{
    padding: 70px 0 0 0;
    /* position: absolute; */
    width: 100%;
}

.imga-2{
    padding: 3em 0 0 0 ;
    /* position: absolute; */
    width: 100%;
}
.listers{

}
li span{
    color: black;
}
li{
    list-style-type: square;
    color: #FCC719;
}
.name-arrow{
    color: #FCC719;
    padding: auto !important;
}
.nav-item{
    list-style-type: none !important;
}
.imager{
    display: inline-block;
    width: 50px;
}
.tecashi{
    display: inline-block;
    vertical-align: center;
}
.childer{
    padding: 0 30%; 
    text-align: right;
}
.no_size{
    padding: 0 0 0 0 !important;
    margin: auto !important;
}
.no_size2{
    padding: 0 0 0 40px !important;
}