.earth{
    position: relative;
    display: inline-block;
}
.earth img.rost{
    position: absolute;
    bottom: 25px;
    width: 5.5em;
    left: 20%;
}
.earth img.rost2{
    position: absolute;
    bottom: 25px;
    width: 5.5em;
    left: 45%;
}
.content-place{
    margin-top: 36vh;
}
@media (min-width: 1200px) {
    .content-place{
        margin-top: 40vw;
    }
  }
.named-1{
    text-align: left;
    font-size:2.5vw !important;
    margin-top: 25px;
    margin-bottom: 30px;
    font-weight: 400;
    color: #182552;
}
.all{
    position: absolute;
    width: 100%;
}
.central-main {
    margin: 50px 2% 20px 2%;
}
.par{
    display:block;
    position:relative;
}
.chil{
    display:inline-block;
    margin-top: 10px;
}
.toping{
    font-size:1.8vw !important;
}
.toping span{
    font-weight: bold;
    font-size:3vw !important;
}
.zhir{
    color: #182552;
    font-weight: bold;
    font-size:1.3vw !important;
}
.maga-brat{
    margin-top: 100px !important;
}
.maga{
    margin-top: 70px;
}
.rigt{
    text-align: end;
}
.mrgin_no{
    color: #182552;
    margin-bottom: 0 !important;
    font-weight: 100;
    font-size:1.8vw !important;
}
.mrgin_no_plus_zhir{
    color: #182552;
    margin-bottom: 0 !important;
    font-weight: bold;
    font-size:1.8vw !important;
}
.img-main-top {
    padding: 4px;
    width: 30%;
}
.img-log{
    width: 90%;
}
.osnsvhead {
    font-weight: 500 !important;
    font-size: 16pt;
    color: #182552;
}
.osnsv {
    font-weight: 200;
    font-size: 16pt;
    color: #FCC719;
}
.paderin{
    margin-bottom: 20px;
}
.logo-crt{
    height: 250px;
    margin-bottom: 0;
}
.dr{
    height: 100%;
    width: 100%;
    background: white;
}
.text-ofnd{
    font-size: 2.3rem;
    color: #182552;
}
.head-margin{
    margin: 20px;
    margin-bottom: 50px !important;
}
.o-fonde-counts{
    font-size:1.6vw !important;
    line-height: 110% !important;
}
.o-fonde-counts span{
    line-height: 120% !important;
    font-weight: bold;
    font-size:3vw !important;
    color: #FCC719 !important;
    margin-top: 20px !important;
}
.svedenia img.rost3{
    position: absolute;
    bottom: 25px;
    width: 4.5em;
    left: 20%;
}
.text-right{
    text-align: right !important;
}